<a href="https://www.kaggle.com/code/sathyadatascience/pandas-date-time-functions?scriptVersionId=104786420" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

<a href="https://colab.research.google.com/github/sathyanarayanankrishnan/DataScience/blob/main/Date_Time_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In this Note Book we plan to chcek the Date and Time Funcitons in Pandas

In [4]:
from datetime import datetime
import pandas as pd
def date_attributes (my_date):
  print(type(my_date))
  print('Default Format ',my_date)
  print('Day ',my_date.day)
  print('Month ',my_date.month)
  print('year ',my_date.year)
  print('Format Date/Month/Year ',my_date.strftime("%d/%m/%Y"))
  print('Format Month/Date/Year ',my_date.strftime("%m/%d/%Y"))
  print('Format Month(Texual)/Date/Year ',my_date.strftime("%B/%d/%Y"))
  print('Format Year/Month/Date ',my_date.strftime("%Y/%m/%d"))
  return
my_date = datetime(year=2015, month=7, day=4)
date_attributes(my_date)
date_attributes(datetime.now())
sys_date_time=pd.to_datetime(datetime.now())
date_attributes(sys_date_time)
print (type(sys_date_time))
print (sys_date_time)

<class 'datetime.datetime'>
Default Format  2015-07-04 00:00:00
Day  4
Month  7
year  2015
Format Date/Month/Year  04/07/2015
Format Month/Date/Year  07/04/2015
Format Month(Texual)/Date/Year  July/04/2015
Format Year/Month/Date  2015/07/04
<class 'datetime.datetime'>
Default Format  2022-08-30 22:18:50.876712
Day  30
Month  8
year  2022
Format Date/Month/Year  30/08/2022
Format Month/Date/Year  08/30/2022
Format Month(Texual)/Date/Year  August/30/2022
Format Year/Month/Date  2022/08/30
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
Default Format  2022-08-30 22:18:50.876894
Day  30
Month  8
year  2022
Format Date/Month/Year  30/08/2022
Format Month/Date/Year  08/30/2022
Format Month(Texual)/Date/Year  August/30/2022
Format Year/Month/Date  2022/08/30
<class 'pandas._libs.tslibs.timestamps.Timestamp'>
2022-08-30 22:18:50.876894

Let's Load Raw Data and try out various Date and Timestamp related Functions

In [87]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
df_sales=pd.read_csv('../input/retaildataset/sales data-set.csv')
df_sales

        Store  Dept        Date  Weekly_Sales  IsHoliday
0           1     1  05/02/2010      24924.50      False
1           1     1  12/02/2010      46039.49       True
2           1     1  19/02/2010      41595.55      False
3           1     1  26/02/2010      19403.54      False
4           1     1  05/03/2010      21827.90      False
...       ...   ...         ...           ...        ...
421565     45    98  28/09/2012        508.37      False
421566     45    98  05/10/2012        628.10      False
421567     45    98  12/10/2012       1061.02      False
421568     45    98  19/10/2012        760.01      False
421569     45    98  26/10/2012       1076.80      False

[421570 rows x 5 columns]

In [6]:
df_sales.describe()
df_sales.dtypes

Store             int64
Dept              int64
Date             object
Weekly_Sales    float64
IsHoliday          bool
dtype: object

Here in the dataframe we see the Date column is marked as an object hence date function cannot be applied on this column, we will need to convert to date datatype to effectivley use the data time functions in pandas

In [7]:
df_sales['Date']= pd.to_datetime(df_sales['Date'])
df_sales.dtypes

Store                    int64
Dept                     int64
Date            datetime64[ns]
Weekly_Sales           float64
IsHoliday                 bool
dtype: object

In [8]:
df_sales['Year of Sales']= df_sales['Date'].dt.year
df_sales['Month of Sales']= df_sales['Date'].dt.month
df_sales['Day of Sales']= df_sales['Date'].dt.day
df_sales[['Date','Day of Sales', 'Month of Sales','Year of Sales']].head(10)

        Date  Day of Sales  Month of Sales  Year of Sales
0 2010-05-02             2               5           2010
1 2010-12-02             2              12           2010
2 2010-02-19            19               2           2010
3 2010-02-26            26               2           2010
4 2010-05-03             3               5           2010
5 2010-12-03             3              12           2010
6 2010-03-19            19               3           2010
7 2010-03-26            26               3           2010
8 2010-02-04             4               2           2010
9 2010-09-04             4               9           2010

Below is to create a data range using Pandas, here we try to create a calendar for 2023

In [9]:
dt_index_year_2023 = pd.date_range(start='1/1/2023', end='31/12/2023')
type(dt_index_year_2023)
print (dt_index_year_2023)

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10',
               ...
               '2023-12-22', '2023-12-23', '2023-12-24', '2023-12-25',
               '2023-12-26', '2023-12-27', '2023-12-28', '2023-12-29',
               '2023-12-30', '2023-12-31'],
              dtype='datetime64[ns]', length=365, freq='D')

In [10]:
type(dt_index_year_2023)

pandas.core.indexes.datetimes.DatetimeIndex

In [13]:
idx = pd.Index(dt_index_year_2023, name='Day of the Year')
df_2023 = idx.to_frame()
type(df_2023)
df_2023.describe(datetime_is_numeric=True)
df_2023

                Day of the Year
Day of the Year
2023-01-01           2023-01-01
2023-01-02           2023-01-02
2023-01-03           2023-01-03
2023-01-04           2023-01-04
2023-01-05           2023-01-05
...                         ...
2023-12-27           2023-12-27
2023-12-28           2023-12-28
2023-12-29           2023-12-29
2023-12-30           2023-12-30
2023-12-31           2023-12-31

[365 rows x 1 columns]

In [12]:
df_2023['DAY']=df_2023['Day of the Year'].dt.day_name()
df_2023['Month']=df_2023['Day of the Year'].dt.month_name()
df_2023

                Day of the Year        DAY     Month
Day of the Year
2023-01-01           2023-01-01     Sunday   January
2023-01-02           2023-01-02     Monday   January
2023-01-03           2023-01-03    Tuesday   January
2023-01-04           2023-01-04  Wednesday   January
2023-01-05           2023-01-05   Thursday   January
...                         ...        ...       ...
2023-12-27           2023-12-27  Wednesday  December
2023-12-28           2023-12-28   Thursday  December
2023-12-29           2023-12-29     Friday  December
2023-12-30           2023-12-30   Saturday  December
2023-12-31           2023-12-31     Sunday  December

[365 rows x 3 columns]

*## Parsing the Date Columns as Date using the parse_dates with the intial load of the csv file into Data frame*

In [22]:
df_sales=pd.read_csv('../input/retaildataset/sales data-set.csv',parse_dates=['Date'])
df_sales.dtypes

Store                    int64
Dept                     int64
Date            datetime64[ns]
Weekly_Sales           float64
IsHoliday                 bool
dtype: object

In [23]:
df_sales.head(10)

   Store  Dept       Date  Weekly_Sales  IsHoliday
0      1     1 2010-05-02      24924.50      False
1      1     1 2010-12-02      46039.49       True
2      1     1 2010-02-19      41595.55      False
3      1     1 2010-02-26      19403.54      False
4      1     1 2010-05-03      21827.90      False
5      1     1 2010-12-03      21043.39      False
6      1     1 2010-03-19      22136.64      False
7      1     1 2010-03-26      26229.21      False
8      1     1 2010-02-04      57258.43      False
9      1     1 2010-09-04      42960.91      False

## Handle Different Data Formats into defined structure in Pandas

In [32]:
import pandas as pd 

date_list = ["2020-11-09 00:00:48",
"2020-11-09 00:00:48",
"2020-11-09 00:00:48",
"2020-11-09 00:00:48",
"2020-11-09 00:00:48",
"2020-08-25",
"2020-08-25",
"2017-08-25",
"2018-08-25",
"2020-08-25",
"25.08.2020",
"25.08.2020",  
"25.08.2017",
"13.3.2018",  
"25.08.2020",
"25.08.2020",
"01.03.2020",
"03.01.2020"             
            ]

df = pd.DataFrame(date_list,columns=['date'])  
df['date'] = df['date'].apply(lambda x: pd.to_datetime(x).strftime('%d/%m/%Y'))
df['date']

0     09/11/2020
1     09/11/2020
2     09/11/2020
3     09/11/2020
4     09/11/2020
5     25/08/2020
6     25/08/2020
7     25/08/2017
8     25/08/2018
9     25/08/2020
10    25/08/2020
11    25/08/2020
12    25/08/2017
13    13/03/2018
14    25/08/2020
15    25/08/2020
16    03/01/2020
17    01/03/2020
Name: date, dtype: object

In [33]:
pd.to_datetime('13000101', format='%Y%m%d', errors='ignore')

datetime.datetime(1300, 1, 1, 0, 0)

## Parsing Seconds into Valid Date that could be used for Computation  (D,s, ms, us, ns)

In [51]:
df = pd.DataFrame({'date': [1470195805, 1480195805, 1490195805],
                   'value': [2, 3, 4]})
df['date']=pd.to_datetime(df['date'], unit='s')
df

                 date  value
0 2016-08-03 03:43:25      2
1 2016-11-26 21:30:05      3
2 2017-03-22 15:16:45      4

In [64]:
df = pd.DataFrame({'date': ['3/10/2000', 'a/11/2000', '3/12/2000'],
                   'value': [2, 3, 4]})
# Getting ParseError
df['date'] = pd.to_datetime(df['date'])

ParserError: Unknown string format: a/11/2000

In [73]:
df['date'] = pd.to_datetime(df['date'], errors='ignore')
df.dtypes
df['date']

0    3/10/2000
1    a/11/2000
2    3/12/2000
Name: date, dtype: object

In [75]:
df = pd.DataFrame({'date': ['3/10/2000', 'a/11/2000', '3/12/2000'],
                   'value': [2, 3, 4]})
df['date'] = pd.to_datetime(df['date'], errors='ignore')
df['date']
df['date'] = pd.to_datetime(df['date'], errors='coerce')
df['date']

0   2000-03-10
1          NaT
2   2000-03-12
Name: date, dtype: datetime64[ns]

## Converting column using .astype('datetime64')

In [78]:
df = pd.DataFrame({'date': ['3/10/2000', '01/11/2000', '3/12/2000'],
                   'value': [2, 3, 4]})
df['date'].astype('datetime64')

0   2000-03-10
1   2000-01-11
2   2000-03-12
Name: date, dtype: datetime64[ns]

## Date Data Types in Python using .astype ()

In [86]:
df = pd.DataFrame({'date_start': ['3/10/2000', '01/11/2000', '3/12/2000'],
                   'date_end': ['3/10/2000', '01/11/2000', '3/12/2000'],
                   'value': [2, 3, 4]})
df = df.astype({
    'date_start': 'datetime64',
    'date_end': 'datetime64'
})

df.dtypes

date_start    datetime64[ns]
date_end      datetime64[ns]
value                  int64
dtype: object

Happy Learning !